*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box ;
}

#container{
    border: deeppink solid 3px;
    width: 90%;
    margin: auto;
}

#logo{
    border: springgreen dashed 1px;
    width: 100%;
    height: 50%;

}

#anamenu{
    border: firebrick dashed 1px;
    width: 100%;
    height: 50%;
    background-color: greenyellow;
}

#icerik{

   border: gold dotted 1px;
   width: 70%;
   min-height: 500px;
   background-color: grey;
   float: left;
}

#yanmenu{
    border: green solid 1px;
    width: 30%;
    min-height: 500px;
    background-color: pink;
    float: left;

}

#altmenu{
    border: indigo solid 1px;
    width: 100%;
    height: 50px;
    background-color: ivory;
    float: left;
}